
<div class="ui items">
<!-- Tweets-->  
  <div class="item">
    <a class="ui tiny image">
      <img src="{{CurrentTweets.avatar}}">
    </a>
    <div class="content">
      <a class="header">{{CurrentTweets.name}}</a>
      <div class="description">
        <p>{{CurrentTweets.body}}</p>
        <!-- Botão Like-->
      <div class="ui labeled button" tabindex="0">
        <div class="ui button" (click)="likeTweet(tweet)">
          <i class="heart icon"></i> Like
        </div>
        <a class="ui basic label" >
          {{CurrentTweets.likes.length}}
        </a>
      </div>
      </div>
    </div>
  </div>
  
</div>
